<div>
  <form action="/message/view" method="POST">
    <input type="hidden" name="listingID" value="<%= listings.listingID %>" />
    <input type="hidden" name="username" value="<%= username %>" />
    <button type="submit" class="btn btn-success">Check Messages</button>
  </form>
</div>
