<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Housing</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Student Housing</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
            </ul>
            <form action="/user" method="POST" class="d-flex">
              <input
                class="form-control me-2"
                type="text"
                name="username"
                id="username"
                placeholder="Username"
              />
              <input
                class="form-control me-2"
                type="password"
                name="password"
                id="password"
                placeholder="Password"
              />
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
        </div>
      </nav>
      <main class="row">
        <div class="col-8">
          <!-- List housing summaries with links to further details -->
          <h2>Listings</h2>
          <ul>
            <% listings.forEach(function (l) { %>
            <a
              href="/listings/<%= l.listingID %>"
              class="
                list-group-item list-group-item-action
                d-flex
                w-100
                justify-content-between
              "
            >
              <div>
                <h2><%= l.location %></h2>
                <br />
                <%= l.description %>
              </div>
            </a>
            <br />
            <% })%>
          </ul>
        </div>
        <!-- /.col-8 -->

        <div class="col-4">
      </main>
    </div>
  </body>
</html>
